[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=bp - mousespeed
Comment=
Exec=xinput --set-prop "Logitech M570" "libinput Accel Speed" -0.9
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

