[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains Rider
Icon=/home/bhavik/Applications/intellij-rider/bin/rider.svg
Exec="/home/bhavik/Applications/intellij-rider/bin/rider.sh" %f
Comment=A cross-platform IDE for .NET
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rider
