[Desktop Entry]
Comment=Open Netflix website
Terminal=false
Name=Netflix
Exec=google-chrome https://netflix.com/
Type=Application
Icon=/home/bhavik/Documents/workspace/config-os/.icons/netflix.png
NoDisplay=false